body{
	font-family: helvetica;
	color: gray;
	background-image: banner.jpeg;

}

ul{
	font-size: ;

}

article{
	width: ;
	font-size: ;

}

.img-article{
	Width: ;
}

footer{
	font-size: ;

}